@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType

<div id="WCitiesTab" @if(m.activeTab == TabType.WCITIES) {
    class='tab-pane active'
} else {
    class='tab-pane fade'}>
    <div id="WCities-filters" class="" style="padding: 10px">
        <form name="wcityform">
        <div class="row-fluid">
            <div class="span3">
                <label>Cities</label>
                <select class="input-block-level" id="WCitieslocations" onchange="javascript: getFilteredWCitiesChange()"></select>
                <input class="input-block-level" type="text" id="WCityLocation" style="display:none" placeholder="City" >
                <input type="hidden" id="WCityLocationId">
                <a onclick="javascript:toggleWCities()" title='Click here to search for a different city'>Choose a different city</a>
            </div>
            <div class="span3">
                <label>Content</label>
                <select class="input-block-level" id="WCitiestypes" onchange="javascript: getFilteredWCities('@m.tripId',0, false)">
                    <option value="Content">City Guides</option>
                    <option value="ContentHotel">Accommodations</option>
                    <option value="ContentAttraction">Attractions</option>
                    <option value="ContentRestaurant">Dining</option>
                    <option value="ContentNightlife">Nightlife</option>
                    <option value="ContentShopping">Shopping</option>
                    @if(!m.isProd) {
                        <option value="Events">Events (Non production Testing Only)</option>
                    }
                </select>
            </div>
            <div class="span3">
                <label id="contentKeywordLbl" style="display: none">Keyword</label>
                <input type="text" class="input-block-level" id="contentKeyword" style="display: none" value="">

            </div>
            <div class="span3">
                <label id="">&nbsp;</label>
                <button class="btn btn-info" id="searchBtn" onclick="javascript:getFilteredWCities('@m.tripId',0, true)" style="display: none">Search </button>

            </div>

        </div>
        </form>
<!--
        <label>Categories</label>
        <input type="checkbox">&nbsp; Family Friendly</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Performances</input> <br/>
        <input type="checkbox">&nbsp; Culture</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Attractions</input><br/>
        <input type="checkbox">&nbsp; Adventure</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Sports</input><br/>

        <label>Duration</label>
        <select id="duration">
            <option value="">All</option>
            <option value="2H">Under Two hours</option>
            <option value="4H">Under Four hours</option>
            <option value="1D">One day</option>
            <option value="MD">Multiple days</option>
        </select>
-->
    </div>
    <div class="row-fluid">
        <div class="span6">
        </div>
        <div class="span6">
            <div class="pull-right">
                @if(m.addWCitiesGuideBtn){
                <button class="btn btn-info btn-large" id="atoAddWcities" style = "padding-left:20px;padding-right:20px" onclick="javascript:doPost('@controllers.routes.BookingNoteController.addWCitiesAutoContent(m.tripId)');">Add Wcities Guide</button>
                }
                <button class="btn btn-info btn-large" id="selectAllWcities" style = "padding-left:20px;padding-right:20px" onclick="javascript:addAllWcities();">Select All</button>
                <button class="btn btn-info btn-large" style="display: none; padding-left:20px;padding-right:20px" id="deselectAllWcities" onclick="javascript:removeAllWcities();">Remove All</button>
                <a class="btn btn-success btn-large" href="javascript:addMultiItineraryModal()" style="padding-left:20px;padding-right:20px">Add Selections to Itinerary</a>
            </div>
        </div>
    </div>

    <div id="WCities-results" class="" style="overflow-y: hidden;">

    </div>
</div>


<script>
        $('#addMultiWCitiesSubmit').click(function() {
            $('#addMultiWCitiesModal').modal('hide');
        });
</script>
<div id="addMultiWCitiesModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add to Itinerary</h3>
    </div>
    <form id="multiWcitiesTripForm">
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span4">
                    <label> Select Date</label>
                    <select name='inNoteDate' id="noteDate2" class="input-block-level required" value="" >
                        <option value="NA" >N/A</option>
                        @if(m.chronologicalDates != null) {
                        @for(d<-m.chronologicalDates) {
                        @if(!d.isEmpty) {
                        <option value="@d">@d</option>
                        }
                        }
                        }
                    </select>
                </div>
                <div class="span4">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary " id="addMultiWCitiesSubmit"
                            onclick="javascript:addMultiWCitiesToItinerary();return false;">Add to Itinerary
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" id="tripId2" name="tripId" value=@m.tripId>
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </form>
</div>

@* @formatter:off *@
<script>
        var selectedWcities = new Array();

        function addAllWcities(){
            if(offer != null) {
              $.each(offer.recommendedItems, function(index, value) {
                addWcity(index);
              });
              $('#selectAllWcities').hide();
              $('#deselectAllWcities').show();
            }
        }

        function removeAllWcities() {
            if(offer != null) {
              $.each(offer.recommendedItems, function(index, value) {
                removeWcity(index);
              });
              $('#selectAllWcities').show();
              $('#deselectAllWcities').hide();
            }
        }
        
        function addWcity (index) {
            if ($.inArray(index, selectedWcities) == -1) {
                selectedWcities.push(index);
                var addId = '#add_'+index;
                var removeId = '#remove_'+index;
                $(addId).hide();
                $(removeId).show();
            }
        }

        function removeWcity (index) {
            var arrIndex = $.inArray(index, selectedWcities)
            if (arrIndex > -1) {
                selectedWcities.splice(arrIndex, 1);
                var addId = '#add_'+index;
                var removeId = '#remove_'+index;
                $(removeId).hide();
                $(addId).show();
            }
        }

        function addMultiWCitiesToItinerary() {
            var itemArr = new Array();
            if (selectedWcities) {
                $.each(selectedWcities, function (index, value) {
                    var item = offer.recommendedItems[value];
                    itemArr.push(item);
                });
            }

            var noteDate = $('#noteDate2').val();
            console.log('indices:', selectedWcities);
            console.log('time:', offer);
            console.log('selected offers', itemArr);
            var url =  '@routes.RecommendationNoteController.addRecommendationNotes(m.tripId)';
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                data: JSON.stringify({ date: offer.offerDate, items: itemArr, noteDate: noteDate }),
                dataType: "json"
            }).success(function() {
                getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.WCITIES), null)');
            });;
        }

        function addMultiItineraryModal() {
            if (selectedWcities.length > 0) {
                $('#addMultiWCitiesModal').modal('show');
            } else {
                alert ("No selected content to add");
            }
        }

        $(document).ready(function () {
            console.log("WCities setup");
            $('#WCitiesTabLink').on('shown', function (e) {
                $('a[tabType="bookingsTabLink"]').on('show', function (e) {
                    getPage('/trips/bookings/@m.tripId/ITINERARY');
                    return false; // activated tab
                });
                getWCities("@m.tripId");
            });
        });

        @if(m.activeTab != null && m.activeTab == TabType.WCITIES) {
          $(function() {
            $('a[tabType="bookingsTabLink"]').on('show', function (e) {
                    getPage('/trips/bookings/@m.tripId/ITINERARY');
                    return false; // activated tab
                });
                getWCities("@m.tripId");
          });
        }

        function getFilteredWCitiesChange() {
            $('#WCityLocationId').val($("#WCitieslocations").val());
            getFilteredWCities('@m.tripId',0, false)
        }

        function toggleWCities() {
            $("#WCitieslocations").hide();
            $("#WCityLocation").show();
            $('#WCityLocation').attr('readonly', false);
            $('#WCityLocation').val("");
            $('#WCityLocationId').val("");

        }
        function getWCities(tripId) {
            $('#spinner').show();
            var request = $.ajax({
                type: "GET",
                cache:false,
                url: "/trips/offers/" + tripId,
                dataType: "json"
            });


            // callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                var offer = response;
                $("#WCitieslocations").empty();
                if (offer.locationOffers) {
                    $.each(offer.locationOffers, function(index, offer) {
                        $("#WCitieslocations").append("<option value='" + offer.location.id + "'>" + offer.location.name + ", " + offer.location.country + "</option>");
                    });
                    $('#WCityLocationId').val($("#WCitieslocations").val());
                    getFilteredWCities(tripId, 0, false);
                } else {
                    toggleWCities();
                }
            });

            // callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // log the error to the console
                if(textStatus != 'abort') {
                    $('#alertMsg').text("A System Error has occurred - " + textStatus);
                    $('#alertBox').show();
                }
            });

            // callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                $('#spinner').hide();
            });
        }

        var offer = null;

        function getFilteredWCities(tripId, pos, searchmode) {
            $('#spinner').show();
            var locationId = $('#WCityLocationId').val();
            console.log("getFilteredWCities - " + locationId);
            var type = $('#WCitiestypes').val();
            if(type == 'Content' || type == 'Activity') {
                $('#contentKeywordLbl').hide();
                $('#contentKeyword').hide();
                $('#searchBtn').hide();

            } else {
                $('#contentKeywordLbl').show();
                $('#contentKeyword').show();
                $('#searchBtn').show();
            }
            if (pos == null || pos < 1) {
                pos = 0;
            }
            var keyword = "";
            if (!searchmode) {
                $('#contentKeyword').val("");
            } else {
                keyword = $('#contentKeyword').val();
            }

            if(locationId != null && locationId.length > 1) {
                var request = $.ajax({
                    type: "GET",
                    cache:false,
                    url: "/trips/wcities/filterOffers/" + tripId + "?locationId=" + locationId + "&type=" + type + "&keyword=" + keyword + "&startPos=" + pos ,
                    dataType: "json"
                });


                // callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    offer = response;
                    if (offer.keyword) {
                        $('#contentKeyword').val(offer.keyword);
                    }
                    displayWCities(offer);
                });

                // callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    // log the error to the console
                    if(textStatus != 'abort') {
                        $('#alertMsg').text("A System Error has occurred - " + textStatus);
                        $('#alertBox').show();
                    }
                });
                // callback handler that will be called regardless
                // if the request failed or succeeded
                request.always(function () {
                    $('#spinner').hide();
                });
            } else {
                $('#spinner').hide();
                alert("Please select a city");

            }




        }

        function displayWCities(offer) {
            $("#WCities-results").empty();
            if (offer) {
                $.each(offer.recommendedItems, function(index, value) {
                    var booking = "";
                    if (value.bookingUrl) {
                        booking = "<br/><a href='" + value.bookingUrl + "' target='supplier'>More details</a>";
                    }
                    var address = "";
                    if (value.address) {
                        address="<div style='front-size: 12px; font-weight: 100'>" + value.address.streetAddress;
                        if (value.address.locality) {
                            address = address + ", " + value.address.locality;
                        }
                        if (value.address.region) {
                            address = address + ", " + value.address.region;
                        }
                        if (value.address.country) {
                            address = address + ", " + value.address.country;
                        }
                        address = address + "</div><br/>"
                    }
                    var description = "";
                    if (value.description) {
                        description = value.description;
                    }
                    if (description != null && description.length > 10) {
                        var price = "";
                        if (value.prices) {
                            price = "<strong>Price Information: </strong><ul>";
                            $.each(value.prices, function (index, p) {
                                        price = price + "<li style='margin-left: 200px'>";
                                        if (p.description) {
                                            price = price + p.description + ": ";
                                        }
                                        var currency = "USD";
                                        if (p.currency) {
                                            currency = p.currency;
                                        }
                                        price = price + p.value + " " + currency + "</li>";
                                    }
                            );
                            price = price + "</ul>";
                        }
                        var image = "";
                        if (value.imageUrl) {
                            image = "<img src='" + value.imageUrl + "' style='height: 80px' align='left' hspace='10'/>";
                        }

                        var selectBtn = '<a id="add_' + index +'" onclick="javascript:addWcity(' + index + ');return false;" style="padding-left: 10px;padding-right: 10px" data-toggle="Select ' + value.name + ' " title="Select ' + value.name + '"><i class="fa fa-plus" style="font-size: 26px; color: #666666"></i> <span style="font-size: 20px; color: #666666">Select</span></a>';
                        var deselectBtn = '<a id="remove_' + index +'" onclick="javascript:removeWcity(' + index + ');return false;" style="padding-left: 10px;padding-right: 10px; display:none" data-toggle="Select ' + value.name + ' " title="Select ' + value.name + '"><i class="fa fa-minus" style="font-size: 20px; color: #666666"></i> <span style="font-size: 20px; color: #666666;">Remove</span></a>';

                        var book = "";
                        book = '<div class="pull-right">' + selectBtn + deselectBtn + '&nbsp;&nbsp;<a style="display:none;" class="chevron-down" onclick="javascript:toggleNote($(this), $(this).closest(\'.bookingBox1\'))"><i class="fa fa-chevron-down" style="font-size: 26px; color: #666666"></i></a></div>';
                        var content = '<div class="bookingBox1">  <div class="noteTable" style="clear:both"><div class="panel-heading"><h3 class="panel-title">' + value.name + book + '</h3>' + address + '</div><div class="panel-body">' + image + description + booking + '<br/>' + price + '</div></div></div>';
                        $("#WCities-results").append(content);
                    }
                });

                $('.noteTable').each(function() {
                    if(parseInt($(this).parent().css('height').substring(0, $(this).parent().css('height').length - 2)) > 300) {
                        $(this).find('.chevron-down').css('display', '');
                        $(this).parent().addClass('gradient');
                        $(this).parent().addClass('noteHidden');
                    }
                });

                if (offer.nextPos > 0 || offer.prevPos > -1) {
                    var navigation = "<div>";
                    if (offer.nextPos > 0) {
                        navigation += '<button class="btn btn-info pull-right" id="nextBtn" onclick="javascript:getFilteredWCities(\'@m.tripId\',' + offer.nextPos + ', true)">Next </button>';;
                    }
                    if (offer.prevPos > -1) {
                        navigation += '<button class="btn btn-info pull-left" id="prevBtn" onclick="javascript:getFilteredWCities(\'@m.tripId\',' + offer.prevPos +', true)">Previous </button>';

                    }
                    navigation +="</div>";
                    $("#WCities-results").append(navigation);
                }
            }
        }

        function toggleNote(arrow, element) {
            if($(element).hasClass('gradient')) {
                $(element).removeClass('noteHidden');
                $(element).addClass('noteVisible');
                $(element).addClass('noGradient');
                $(element).removeClass('gradient');
                $(arrow).children('i').removeClass('fa-chevron-down');
                $(arrow).children('i').addClass('fa-chevron-up');
            } else {
                $(element).removeClass('noteVisible');
                $(element).addClass('noteHidden');
                $(element).addClass('gradient');
                $(element).removeClass('noGradient');
                $(arrow).children('i').removeClass('fa-chevron-up');
                $(arrow).children('i').addClass('fa-chevron-down');
            }
        }

        $('#WCityLocation').autocomplete({
            source: "@controllers.routes.OfferController.wcitiesAutocomplete()",
            minLength: 2,
            select: function(event, ui) {
                $("#WCityLocation").val(ui.item.label);
                $("#WCityLocationId").val(ui.item.id);
                $('#WCityLocation').attr('readonly', true);

                getFilteredWCities('@m.tripId', 0, false);

                return false;
            },
            response: function(event, ui) {
                $("#WCityLocationId").val("");
                if (ui.content.length == 1) {
                    $("#WCityLocation").val(ui.content[0].label);
                    $("#WCityLocationId").val(ui.content[0].id);

                    getFilteredWCities('@m.tripId', 0, false);
                    $(this).autocomplete("close") ;
                    $('#WCityLocation').attr('readonly', true);

                }
            }
        });
        $("#WCityLocation").autocomplete("option", "appendTo", "#wcityform");



</script>

<style>
#offer-filters {
    padding: 0 0px;
    border: 0px solid #ccc;
    /* background: #eee; */
    text-align: left;
}
.noteTable {
    line-height: 20px;
    padding-top: 0px;
    margin-top: 10px;
    min-height: 180px;
    border-top: 1px solid #999999;

}
.noteHidden {
    height: 220px;
    overflow: hidden;
}
.noteVisible {
    height: 100%;
    overflow: visible;
}
.gradient {
    position: relative;
}
.gradient:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
    rgba(255,255,255, 1) 20%,
    rgba(255,255,255, 0) 80%
    );
    pointer-events: none;
}
.noGradient {
    position: relative;
    background: transparent;
}
</style>